.comments .pager{
	width: 32.5em;
}

.pager {
  overflow:hidden;
  padding-top:1em;
  width: 9.5em;
  margin: 0 auto;
  font-family:Helvetica, Arial, sans-serif;
  font-size:x-small;
  line-height:1.5em;  
}

.pager a{
  color: #1f5b9e;	
}

.pager a:hover{
  text-decoration:none;
}

.pager li{
  float:left;
  list-style-type:none;
  margin-right:.3em;
  font-size:1.1em;
}

img, a{
  border:none;
}

.active a {
 color:#1f5b9e;
 font-weight:bold;
}

.disabled a{
  cursor: default;
  color: #828383;
}

.disabled a:hover{
	text-decoration: underline;
}
