@media only screen and (min-device-width:320px) and (max-device-width:480px) {
	body {
		padding:0 2em;
	}

	.logo {
		background-size:950px 200px;
		height:200px;
		width:950px;
		float:none;
	}
	
	.logo a {
		height:200px;
		width:850px;
		text-align:center;
	}
	
	.binder {
		background-size:120px 80px;
		width:81em;
		padding-right:5em;
	}
	
	.container {
		width:67em;
	}
	
	.link {
		float:none;
		font-size:1.7em;
	}
	
	.headerCon {
		text-align:center;
	}
	
	.beta, .ref, .fb-like, .com, .reasons, .loginForm, .sessionMess {
		display:none !important;
	}

	.blogContainer, .innerBlog {
		width:95%;
	}
	
	.innerBlog p, .bBody, .read {
		font-size:2.5em;
	}
	
	.bTitle, .innerBlog .bTitle {
		font-size:3.5em;
	}
	
	.backBtn {
		font-size:3em;
		margin-bottom;
	}
	
	.bDate, .innerBlog .bDate {
		font-size:2.8em;
	}
	
	.readMore {
		padding:1em 0;
	}
			
	.commentPage {
		font-size:3.5em;
		width:75%;
		margin:0 auto;
		padding:1em;
	}
	
	.commentPage input {
		font-size:1em;
		width:10em;
	}
	
	.postingCom label {
		width:2em;
	}
	
	.warnMess {
		width:17em;
	}
	
	.square label {
		width:70px;
		height:70px;
	}
	
	.square {
		width:70px;
		margin:70px auto;
	}
	
	.square label:after {
		width:43px;
		height:16px;
		top:15px;
		left:13px;
	}
	
	#footer{
		font-size: 2em;
		width:39em;
		
	}
	
	#footer p {
		padding-right:.5em;		
	}
	
	#footer li {
		padding:0 .5em;
	}
	
	.contactForm input{
		font-size:3em;
		width:12em;
	}
	
	.contactForm label{
		font-size: 3em;
		margin:0;
		width: 3.5em;
	}
	
	.contactForm .bold{
		font-size: 4em;
	}
	
	.messageCon{
		margin-top: 5em;
	}
	
	.mobileMess{
		display: block;
		font-size: 4em;
	}
	
	.vocabPage li{
		font-size: 3em;
	}
	
	#apl li{
		line-height: 1.5em;
		font-size:2.3em;
	}
	
	.vocabPage .bold{
		font-size: 4em;
	}
}
