/*
Author:  Jessica Sears
Project: 
*/

/* Style Guide
	Navigation color: #e6ebf0
	Default font: Helvetica Neue
	Default font color: #323333
	Default container color: #e9e9e9
	Default font: 1em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
*/


/*----------Fonts----------*/
@font-face {
    font-family: 'nexafree';
    src: url('../font/nexafree/Nexa_Free_Bold-webfont.eot');
    src: url('../font/nexafree/Nexa_Free_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/nexafree/Nexa_Free_Bold-webfont.woff') format('woff'),
         url('../font/nexafree/Nexa_Free_Bold-webfont.ttf') format('truetype'),
         url('../font/nexafree/Nexa_Free_Bold-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source';
    src: url('../font/SourceSansPro/SourceSansPro-Regular-webfont.eot');
    src: url('../font/SourceSansPro/SourceSansPro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/SourceSansPro/SourceSansPro-Regular-webfont.woff') format('woff'),
         url('../font/SourceSansPro/SourceSansPro-Regular-webfont.ttf') format('truetype'),
         url('../font/SourceSansPro/SourceSansPro-Regular-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'droid';
    src: url('../font/DroidSerif/DroidSerif-Regular-webfont.eot');
    src: url('../font/DroidSerif/DroidSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/DroidSerif/DroidSerif-Regular-webfont.woff') format('woff'),
         url('../font/DroidSerif/ProSourceSansPro-Regular-webfont.ttf') format('truetype'),
         url('../font/DroidSerif/DroidSerif-Regular-webfont') format('svg');
}
/*----------General----------*/
html{
	margin: 0;
	padding: 0;	
	position: relative;
	min-height: 100%;
	color: #464746;
}

ul{
	list-style-type: none;
	padding: 0;
}

li{
	display: inline;
}

body{
	font: 1em "source", Helvetica, Geneva, sans-serif;
	letter-spacing: .1em;
	margin: 0 0 1em;
	background:url('../img/bg.png');
}

.binder{
	background: url('../img/spiral.png') repeat-y left 2.7em;
	width: 66.5em;
	margin: 0 auto;
}

.container{
	background-color: #e9e9e9;
	width: 960px;
	margin: 1.5em auto;
	padding-bottom: 2em;
	background:url('../img/paper.png');
}


.content p{
	margin: 0;
}

.clear{
	clear: both;
}
	
#cBox_insertunorderedlist, #body_insertunorderedlist, #cBox_insertorderedlist, #body_insertorderedlist, #message_insertunorderedlist, #message_insertorderedlist{
	display: none;
}

.commentPage{
	padding: 1em 4em;
	background: url("../img/commentPaper.png");
	margin: 50px auto;
	max-width: 600px;
	position: relative;
	width: 80%;
	-webkit-box-shadow: 0 1px 7px hsla(0,0%,0%,.2);
	-moz-box-shadow: 0 1px 7px hsla(0,0%,0%,.2);
	box-shadow: 0 1px 7px hsla(0,0%,0%,.2);
}

.commentPage:after, .commentPage:before {
	background: #e8e6d5;
	content: '';
	height: 50px;
	position: absolute;
	top: -25px;
	width: 100px;
	-webkit-box-shadow: 0 5px 10px -7px hsla(0,0%,0%,.5);
	-moz-box-shadow: 0 5px 10px -7px hsla(0,0%,0%,.5);
	box-shadow: 0 5px 10px -7px hsla(0,0%,0%,.5);
	opacity: .6;
}
.commentPage:after {
	left: -50px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.commentPage:before {
	right: -50px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.commentJava, .noJava, .emailJava{
	display: none;
}

.sessionMess{
	text-align: center;
	font-size: 1.2em;
	color: #8a2445;
	display: none;
	background:url('../img/paper.png');
	padding: 1em;
	margin: 0;
}


/*----------Links----------*/


header a{
	color: #d6efee;
	font: 1.5em "nexafree", Arial, Helvetica, Geneva, sans-serif;
	text-decoration: none;
}

footer a{
	color: #d6efee;
	font-size: 1em;
	text-decoration: none;	
}

header a:hover, footer a:hover{
	color: #85b6b4;
}

.readMore a:link, .ref a:link, .errorPage a:link{
	color: #1f5b9e;
}

.readMore a:visited, .ref a:visited, .errorPage a:visited{
	color: #174476;
}

.readMore a:hover, .ref a:hover, .errorPage a:hover{
	color: #2e7bd0;
	text-decoration: none;
}

.deleteCon a{
	text-indent: -9999px;
	display: block;
	height: 1.5em;
	width: 2em;
}

.back{
	color: #1f5b9e;
	text-decoration: underline;
	cursor:pointer;
}

/*----------Header----------*/

header{
	margin: 0;
	color: #d6efee;
}

header h1{
	margin: 0;
}

.headerCon{
	width: 68em;
	margin:  0 auto;	
}

.link{
	float: right;
	position: relative;
	top: 2.4em;
	padding: 0 1.5em;
	right: 2em;
}

.logo{
	background: url(../img/logo.png) no-repeat;
	height: 78px;
	width:400px;
	display: inline-block;
}
		
.logo a{
	text-indent: -9999px;
	display: block;
	height: 78px;
	width:400px;
}

/*----------Admin Header----------*/

.adminInfo{
	margin: 0;
	font-size: .7em;
	text-align: right;
	padding: .5em 0;
	background-color: #1b181a;
}

.adminInfo label{
	font-size: 1.5em;
}

.adminInfo li{
	padding: 0 2em;
}

/*----------Forms----------*/

.postForm, .editForm{
	margin-left: 1em;
}

.contactForm{
	padding: 1em 0 0 2em;
	float: left;
}

.reasons{
	width: 40%;
	float: right;
	padding: 2em 3em 0 0;
}

.reasons ul li{
	display: block;
	padding-top: 1em;
	list-style-type: circle;
	margin-left: .5em;
}

.postForm label, .postingCom label, .editForm label, .contactForm label{
	float: left;
	width: 5em;
	margin-right: 1em;
}

.editForm .deleteCon{
	float: right;
}

.postForm p, .postingCom p, .editForm p, .contactForm p{
	padding-bottom: .5em;
}

.postForm span, .span, .contactForm span{
	padding-right: 1em;
}

.postInput{
	width: 25em;
}

.comInput, .contact, .writeVocab #title{
	width: 21em;
}

.submit{
	background-image: linear-gradient(bottom, rgb(101,158,114) 26%, rgb(177,199,173) 65%);
	background-image: -o-linear-gradient(bottom, rgb(101,158,114) 26%, rgb(177,199,173) 65%);
	background-image: -moz-linear-gradient(bottom, rgb(101,158,114) 26%, rgb(177,199,173) 65%);
	background-image: -webkit-linear-gradient(bottom, rgb(101,158,114) 26%, rgb(177,199,173) 65%);
	background-image: -ms-linear-gradient(bottom, rgb(101,158,114) 26%, rgb(177,199,173) 65%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.26, rgb(101,158,114)),color-stop(0.65, rgb(177,199,173)));
	border: none;
	border-radius: .5em;
	height: 2em;
	width: 10em;
	font-size: 1.2em;
	cursor:pointer;
	clear: both;
}

.noSub{
	background: #f9d9d9; /* Old browsers */
	background: -moz-linear-gradient(top, #f9d9d9 10%, #d8847f 55%, #845d54 97%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#f9d9d9), color-stop(55%,#d8847f), color-stop(97%,#845d54)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f9d9d9 10%,#d8847f 55%,#845d54 97%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f9d9d9 10%,#d8847f 55%,#845d54 97%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f9d9d9 10%,#d8847f 55%,#845d54 97%); /* IE10+ */
	background: linear-gradient(to bottom, #f9d9d9 10%,#d8847f 55%,#845d54 97%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9d9d9', endColorstr='#845d54',GradientType=0 ); /* IE6-9 */
	border: none;
	border-radius: .5em;
	height: 2em;
	width: 10em;
	font-size: 1.2em;
	cursor:pointer;
}

.confirm{
	width: 32em;
	margin: 0 auto;
	padding: 2em 0;
}

.subPos{
	padding-top: 1em;
	float: left;
}

.cancelPos{
	float: right;
	margin: 1.5em 1em 0 0;
}

.message, .emailMess{
	color: #186927;
	font-size: 1.5em;
	padding-top: .5em;
}

.message{
	width: 34em;
	margin:  0 auto;
}

.emailMess{
	width: 28em;
	margin:  0 auto;
}

.messContainer{
	background:url('../img/paper.png');
	width: 960px; 
	margin: 0 auto;
	position: relative	;
	top: 1.5em;
}

.resInput{
	width: 18em;
}

.loginForm{
	background-color: #c0dadb;
	border-radius: 1em;
	width: 19em;
	padding: .5em 1em;
	margin: 1em auto;
}

.loginForm form{
	width: 16em;
	margin: 0 auto;
}

.loginForm label{
	float: left;
	width: 6em;
}

#poster{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #e1e0e0;	
}

/*----------Blog----------*/
.blogContainer{
	width: 65%;
	float: left;
}

 .readMore{
	padding-bottom: 1.2em;
	border-bottom: 1px solid #333;
}

.ref{
	float: right;
	width: 26%;
	font-family: droid;
	padding-top: 1.5em;
}

.ref h3{
	font-family: droidBold;
}

.ref ul{
	padding: 0;
	width: 15em;
}

.innerBlog{
	width: 80%;
	margin: 0 auto;
	word-wrap: break-word;
	overflow: hidden;
	padding-bottom: 4em;
}

.bBody p{
	display: none;
	word-wrap: break-word;
	overflow: hidden;
	line-height: 1.4em;
	font-size: 1.1em;
}

.body p:first-child{
	padding-top: 1.5em;
}

.innerBlog p{
	line-height: 1.4em;
}

.bBody p:first-child{
	display: block;
}


.bTitle{
	float: left;
	font-family: droid;
	font-size: 1.5em;
	padding: 1em 0 .3em 0;
}

.bTitle a:link{
	color: #383a3d;
	text-decoration: none;
}

.bTitle a:visited{
	color: #383a3d;
}

.bTitle a:hover{
	color: #070707;
}

.adminControls{
	float: right;
	padding-top: 1.5em;
	margin-left: 1em;
}

.bDate{
	clear:both;
	font-family: droid;
	font-size: 1.1em;
	padding-bottom: 1em;
}

.editCon{
	background: url(../img/edit.png) no-repeat;
	height: 2em;
	width: 3em;
	display: inline-block;
}
		
.editCon a{
	text-indent: -9999px;
	display: block;
	height: 2em;
	width: 3em;
}

.deleteCon{
	background: url(../img/delete.png) no-repeat;
	height: 1.5em;
	width: 2em;
	display: inline-block;
}
		

.deleteForm p{
	padding-top: 2em;
	font-size: 1.2em;
}

.backBtn{
	text-decoration: underline;
	padding: 1em;
	position: relative;
	top: 1em;
	cursor:pointer;
}

.postingCom{
	padding-top: 2em;
	width: 29em;
}

.name{
	font-weight: bold;
	margin-top: 1em;
	padding-bottom: .5em;
	font-size: 1.1em;
}

.line{
	padding-bottom: 1.5em;
}

.item{
	padding-left: 2.5em;
}

.writeBlog{
	padding-top: 1em;
	float: left;
}

.sideIcons{
	float: right;
	padding-right: 1em;
	padding-top: 1em;
}

.sideIcons ul li{
	display: block;
	line-height: 1.9em;
}

.yesSub{
	float: left;
}

.noSub{
	float: right;
}

.confirmDelete{
	width: 70%;
	margin: 1em auto;
}

.messageCon{
	position: relative;
	left: 6em;
	bottom: 1.5em;
}

.errorPage{
	padding: 1.5em; 
	text-align: center;
}

.vocabPage{
	padding: 1em 0 0 2em;
}

.vocabPage ul{
	width: 90%;
	margin: 0 aut0;
}

.vocabPage h3{
	display: inline;
}

.writeVocab label{
	width: 6em;
}

.writeVocab {
	padding: 1em 2em 0 0;
	float: left;
}

.vocabText{
	position: relative;
	left: 7em;
	bottom: .5em;
}


/*----------Footer----------*/

footer{
	color: #d6efee;
	font-family: nexafree;
	width: 64em;
	margin: 0 auto;
}

.foot{
	clear: both;
	position: absolute;
	bottom: -1em;	
	width: 100%;
	height: 3em;
}

footer ul{
	float: left;
}

footer p{
	float: right;
	padding-right: 1.5em;
}

footer li{
	display: inline;
	padding: 0 1em;
}


/*----------Validation Styles----------*/

.LV_validation_message{
    font-weight:bold;
    margin:0 0 0 5px;
}

.LV_validation_message{
	margin: 0;
	display: block;
	width: 20em;
}

.loginForm .LV_validation_message{
	margin: 0;
	display: block;	
}

.LV_valid {
    color:#00CC00;
}
	
.LV_invalid {
    color:#CC0000;
}

.mess .LV_validation_message{
	position: relative;
	bottom: 2em;
}
    
.LV_valid_field,
input.LV_valid_field:hover, 
input.LV_valid_field:active,
textarea.LV_valid_field:hover, 
textarea.LV_valid_field:active {
    border: 1px solid #00CC00;
}
    
.LV_invalid_field, 
input.LV_invalid_field:hover, 
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover, 
textarea.LV_invalid_field:active {
    border: 1px solid #CC0000;
}

/*----------Media queries----------*/
